body{
    background-color: black; 
     margin-left: 5px;
     margin-right: 5px; 
     padding-left: 5px;
     padding-right: 5px;
     min-height:100vh;
     position: relative;
     display: grid;
     grid-template-rows: auto 1fr auto;
    }

// APLICO MIXIN AL HTML CONTACTO
@mixin bloqueContacto {
    text-align: center;
    padding: 10px;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: wheat;
    z-index: 1;
}

.redes-parrafo-1{
    @include bloqueContacto;
}

.redes-parrafo-2{
    @include bloqueContacto;  
    color: #ff8000; 
}

.redes-parrafo-3{
    @include bloqueContacto;  
    color: #ff8000;
}

.redes-mail1{
    @include bloqueContacto; 
    margin-top: 50px;
    position: relative;
    margin-left: -20%;
    margin-right: auto;
}

.redes-mail2{
    @include bloqueContacto;
    border: 3px solid rgb(27, 28, 28);
    background-color:coral;
    position: relative;
    margin-left:3%;
    margin-right:3%;
}

.redes-mail2 a{
    @include bloqueContacto;  
    font-size:25px;
    color: black;  
}


// APLICO EXTEND (CARD) AL INDEX HTML
.card {
    background-color:black;
    border-radius: 4px;
    padding: 16px;
    box-shadow: none;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 120px;
}

.title {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 12px;
    opacity: 0.85;
}

.main-title {
    border-left: 5px solid rgb(221, 227, 230);
}

.small{
    font-weight: 400;
    font-size: 12px;
    opacity: 0.75;
}

.ucard{
    @extend .card;
    max-width: 300px;
    text-align: center;
    position: relative;
    margin-left: 76%;
    margin-bottom: 20%;
    padding: 15px;
    color:blanchedalmond;
    >img {
         @extend .avatar;
    }
    >h3 {
        @extend .title;
        color:blanchedalmond;
    }
    >small { 
        @extend .small;
        color:blanchedalmond;
    }
}


/*moficaciones del footer*/
.footer{
background-color:black; 
}
.navbar-brand {
    background-color:black;
    color: beige;
    margin-top: auto;
}
 
/*html SERVICIOS -*/
.hombre, .mujer{
    text-align: left;
    color: beige;
}

.principal-servicios h3{
    color: rgb(221, 227, 230);
}

.principal-servicios p{
    color: rgb(182, 182, 173);
}

form{
    color:rgb(221, 227, 230);
}
#form-running{
    color:rgb(221, 227, 230);  
}

/* comienza style de gym-center ...*/
#principal-gym{
    color:rgb(221, 227, 230); 
    padding: 10px;   
}

*{
    box-sizing: border-box;
}
.flex-container{
    display: flex;
    background-color:rgb(27, 28, 28);
    padding: 10px;
    margin: 5px;
    border: 2px solid rgba(221, 220, 226, 0.372);;
    color: darkgrey; 
    flex-basis: 100%;
}

.flex-container div{
    background-color:black ;
    margin: 5px;
    padding: 10px;
    text-align:justify;
    font-size: 18px;
    border: 2px solid rgba(221, 220, 226, 0.372);
}

.flex-container h5{
    color:coral;
    text-align: center;
}

#ejercicios{
    text-align: center;
}

.btn-ghost.secundary{
    background-color:#ff8000;
    margin: 2px 2px;
    padding: 3px 5px;
    color: black;
    border: solid 3px rgb(52, 53, 53);
    text-align: center;
    text-decoration: none;
    opacity: 0.8;
}

/* runnning-html */
#principal-running{
    color:rgb(221, 227, 230)
}


/*contacto html*/

#redes {
    margin-top: auto;
    margin-bottom: auto;
    height: 500px;
    background-image: url(/fotos/fotogym-barra.jpg);
    }


*{
    box-sizing: border-box;
}

.flex-container-4{
    display:block;
    margin:auto auto;
    width: auto;
    height: auto auto;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: auto;
    border: 10px solid rgb(27, 28, 28);
    }

.padre-redes-parrafo{
    border: 2px solid rgb(27, 28, 28);
    background-color: rgb(52, 53, 53);
    opacity: 0.8;
}


/* modificaciones del html nosotros - section */
#principal-nosotros ul div{
    color: rgb(209, 201, 201);
}

*{
    box-sizing: border-box;
}
.flex-container-3{
        display: flex;
        background-color:rgb(27, 28, 28);
        width: 700px;
        margin-left:auto;
        text-align:left;
    }
    
    .flex-container-3 p{
        background-color:black ;
        margin: 5px;
        padding: 10px;
        border: 2px solid rgba(221, 220, 226, 0.372);
        font-size: 25px;
        color: darkgrey;
    }
    
 #principal-nosotros{
    background-image:url(/fotos/fotogym-barra.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
}

/*index +  logo y titulo*/
.container-botones{
    text-align: center;
}

/*fuentes*/
#fuente-google2{
    font-family: 'Alfa Slab One';
    font-size: 300%;
    color: coral;
    text-align: right;
    margin-right: 95px;
}

#fuente-google2{
animation-duration: 3s;
animation-name: opacar;
animation-iteration-count:initial;
}

@keyframes opacar {
0%{
    opacity: 0;
}
100%{
    opacity: 1;
}
}

#logo{
animation-duration: 3s;
animation-name: opacar;
animation-iteration-count:initial;
}

@keyframes opacar {
0%{
    opacity: 0;
}
100%{
    opacity: 1;
}
}

#fuente-google1{
  font-family: 'Archivo Narrow', sans-serif; 
  color:beige;
}

#logo{
    text-align:right;
}

#principal-index{
    max-height: 280px;
}
 
#principal-index{
    text-align:left;
}



#principal-index, .h2{
color:beige;
}
#principal-index, h4{
    color: coral;
}


/* ejercicios por grupo muscular */
#espalda h3{
    color:#ff8000;
    text-align: center;
}



.container-2{
    background-color: rgb(52, 53, 53);
    padding: 10px;
    display: inline-flex;
    margin: 2px solid white;
    text-align: center;
    flex-basis: 100%;
    
}
 
.item{
    margin: 2px solid white; 
    padding: 15px;
    color:white;
    display: inline-block;
}

#item1{
    background-color:dimgray;
    margin: 2px solid black;
}

#item2{
    background-color:rgb(52, 49, 49);
    margin: 2px solid black;
}

#item3{
    background-color:rgb(21, 19, 19);
    margin: 2px solid black;
}

/* pseudoclases - al nav */
nav .nav-link:hover{
font-size: 120%;
text-decoration: none;
color:beige;
background-color: #e84417;
border: 2px solid rgb(101, 96, 96);
}

.btn-ghost.secundary:active{
    color:beige;
    background-color:rgb(205, 205, 208);
}

.input-text:focus{
    font-size: 22px; 
    color: red;
}

.input-text{
    width: 250px;
    position: relative;
    right: 105px;
    top: 55px;
    margin-bottom: 15px;
} 
.aclaraciones{
    position:relative;
    top: 50px;
    left: 5px;
    color: #e84417;
}



/*--------------media querie---------------*/
@media (max-width: 680px) {
    .flex-container{
        flex-direction: column;
    }
}

@media (max-width: 400px) {
    .flex-container{
        flex-direction: column;
        padding: 2px;
    }
    .flex-container div{
        margin: 2px;
        padding: 2px;
        font-size: 15px;
    }
}

@media (max-width: 464px) {
    #logo img {
            width: 300px;
    }
}

@media (max-width: 464px) {
    #fuente-google2 {
            font-size: 250%;
            margin-right: 40px;
    }
}

/* media querie - nosotros */
@media (max-width: 900px) {
    .flex-container-3{
        width: 400px;
    }
    #principal-nosotros{
        background-image: url(/fotos/fotogym-barra.jpg);
        background-size: auto;
    }
}

    @media (max-width: 550px) {
        #principal-nosotros{
            background-image: url(/fotos/fotogym-barra.jpg);
            background-size: auto;
        }
    @media (max-width: 400px) {
            .flex-container-3{
                width: 300px;
    }
}

/* media querie - contacto */
@media (max-width: 680px){
    .flex-container-4{
        margin-left: 5%;
        margin-right: 5%;
        }

    .redes-mail2 a{
    font-size: 15px;    
    }
}
    
    /* media querie - ejercicios por grupo muscular */
    @media (max-width: 490px) {
        #ejercicios h2 a{
            font-size: 15px;
            color: brown;
    }
} 

    @media (max-width: 1200px) {    
        .container-2 {
            flex-direction: column;
            padding: 3px;
    }
        .container-2 h4 {
            font-size: 20px;
            color: black;
    }
         .container-2 #item1 {
             background-color: rgba(211, 211, 199, 0.9);
    }
         .container-2 #item2 {
            background-color: rgba(211, 211, 199, 0.9);
    }
         .container-2 #item3 {
            background-color: rgba(211, 211, 199, 0.9);
    }
}
    @media (max-width: 450px) {    
        .container-2 iframe{
        flex-direction: column;
        width: 60%; }
    }
}
