 @import "componentsStyle/_MapsMixinExtend";


body{
    background-color: black; 
     margin-left: 5px;
     margin-right: 5px; 
     padding-left: 5px;
     padding-right: 5px;
     min-height:100vh;
     position: relative;
     display: grid;
     grid-template-rows: auto 1fr auto;
     padding-top: 75px;
    }

/*moficaciones del footer*/
.footer{
    background-color:black; 
    }
.navbar-brand {
    background-color:black;
    color: beige;
    margin-top: auto;
    }
 
/*html SERVICIOS -*/
.hombre, .mujer{
    text-align: left;
    color: beige;
    }

.principal-servicios h3{
    color: rgb(221, 227, 230);
    }

.principal-servicios p{
    color: rgb(182, 182, 173);
    }

form{
    color:rgb(221, 227, 230);
    }
#form-running{
    color:rgb(221, 227, 230);  
    }

/* html gym-center ...*/
#principal-gym{
    color:rgb(221, 227, 230); 
    padding: 10px;   
    }

*{
    box-sizing: border-box;
}
.flex-container{
    display: flex;
    background-color:rgb(27, 28, 28);
    padding: 10px;
    margin: 5px;
    border: 2px solid rgba(221, 220, 226, 0.372);;
    color: darkgrey; 
    flex-basis: 100%;
    }

.flex-container div{
    background-color:black ;
    margin: 5px;
    padding: 10px;
    text-align:justify;
    font-size: 18px;
    border: 2px solid rgba(221, 220, 226, 0.372);
    }

.flex-container h5{
    color:coral;
    text-align: center;
    }

#ejercicios{
    text-align: center;
    }

.btn-ghost.secundary{
    background-color:#ff8000;
    margin: 2px 2px;
    padding: 3px 5px;
    color: black;
    border: solid 3px rgb(52, 53, 53);
    text-align: center;
    text-decoration: none;
    opacity: 0.8;
    }

/* html runnning-center */
#principal-running{
    color:rgb(221, 227, 230)
    }

/*html contacto */
#redes {
    margin-top: auto;
    margin-bottom: auto;
    height: 500px;
    background-image: url(/fotos/fotogym-barra.jpg);
    width: 100%;
    }

*{
    box-sizing: border-box;
}

.flex-container-4{
    display:block;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: auto;
    border: 10px solid rgb(27, 28, 28);
    }

.padre-redes-parrafo{
    border: 2px solid rgb(27, 28, 28);
    background-color: rgb(52, 53, 53);
    opacity: 0.8;
    }


/*  html nosotros  */
#principal-nosotros ul div{
    color: rgb(209, 201, 201);
    }

*{
    box-sizing: border-box;
}
.flex-container-3{
    display: flex;
    background-color:rgb(27, 28, 28);
    width: 700px;
    margin-left:auto;
    text-align:left;
    }
    
.flex-container-3 p{
    background-color:black ;
    margin: 5px;
    padding: 10px;
    border: 2px solid rgba(221, 220, 226, 0.372);
    font-size: 25px;
    color: darkgrey;
    }
    
 #principal-nosotros{
    background-image:url(/fotos/fotogym-barra.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
    }

/*html index - botones (abajo)*/
.container-botones{
    text-align: center;
    }

/*fuente (logo)*/
#fuente-google2{
    font-family: 'Alfa Slab One';
    font-size: 300%;
    color: coral;
    text-align: right;
    margin-right: 95px;
    }

// Animaciones al logo y titulo principal
#fuente-google2{
    animation-duration: 3s;
    animation-name: opacar;
    animation-iteration-count:initial;
    }

@keyframes opacar {
0%{
    opacity: 0;
}
100%{
    opacity: 1;
}
}

#logo{
    animation-duration: 3s;
    animation-name: opacar;
    animation-iteration-count:initial;  
    }

@keyframes opacar {
0%{
    opacity: 0;
}
100%{
    opacity: 1;
}
}


#logo{
    text-align:right;
    }

// Continuan modificaciones del html index (main)
.container-index{
    display: inline-flex;
    width: 100%;
    height: 230px;
    }

#principal-index{
     text-align:left;
     width: 50%;
    }

#principal-index, .h2{
    color:beige;
    }

#principal-index, h3{
    color: coral;
    }

// .. html index 
 #section-card{
     display: inline-flex;
     width: 35%;
     text-align: center;
     position: relative;
     margin-left: 15%;
    }
 
#parrafos{
    display: inline-block;
    padding: 70px;
    }

// html index - Fuente 1 (texto)
#fuente-google1{
    font-family: 'Archivo Narrow', sans-serif; 
    color:beige; 
    padding: 20px;
    }

#frase-principal-index{
    color: coral;
    text-align: left; 
    padding-top: 15px;
    padding-bottom: 10px;
    }


/* html ejercicios por grupo muscular */
#espalda h3{
    color:#ff8000;
    text-align: center;
    }


.container-2{
    background-color: rgb(52, 53, 53);
    padding: 10px;
    display: inline-flex;
    margin: 2px solid white;
    text-align: center;
    max-width: 100%;
    }
 
.item{
    margin: 2px solid white; 
    padding: 15px;
    color:white;
    display: inline-block;
    }

#item1{
    background-color:dimgray;
    margin: 2px solid black;
    }

#item2{
    background-color:rgb(52, 49, 49);
    margin: 2px solid black;
    }

#item3{
    background-color:rgb(21, 19, 19);
    margin: 2px solid black;
    }

/* pseudoclases - al nav */
nav .nav-link:hover{
    font-size: 120%;
    text-decoration: none;
    color:beige;
    background-color: #e84417;
    border: 2px solid rgb(101, 96, 96);
    }

.btn-ghost.secundary:active{
    color:beige;
    background-color:rgb(205, 205, 208);
    }

.input-text:focus{
    font-size: 22px; 
    color: red;
    }

.input-text{
    width: 250px;
    position: relative;
    right: 105px;
    top: 55px;
    margin-bottom: 15px;
    } 
.aclaraciones{
    position:relative;
    top: 50px;
    left: 5px;
    color: #e84417;
    }

// importo media querie
@import "componentsStyle/_mediaQuerie";



