body{
    background-color:black; 
     margin: 5px;
    padding: 5px;
    /*box-sizing: border-box;*/
}

.grid {
	border: solid 1px white;
	display: grid;
	grid-template-rows: 75px 3fr 3fr 75px;
	grid-template-columns: 20% auto 20%;
	grid-template-areas: 
	"nav nav nav"
	"header header header"
    "section1 section2 section3"
    "footer footer footer";
  grid-column-gap: 5px;
  grid-row-gap: 5px;  
  }
 
  .borde { 
      border: 2px solid aquamarine;    
  }
 
  header {
     grid-area: header;
  }
  nav {
     grid-area: nav;
  }
  
  section#section1 {
     grid-area: productos;     
  }
  
  section#section3 {
     grid-area: servicios;     
  }
  
  footer {
     grid-area: footer;
  }
  

  /*Fin de GRID / inicio Flexbox*/

.flex-container{
    text-decoration: none;
    background-color: #2d3047;  
    flex-basis: 100%;
   
}
 .menu, ul, li {
    display:inline-flex; 
     background: #2d3047;
     text-decoration: none; 
 }
 .menu-2, ul, li, a{
     display:inline-flex;
 text-decoration:none;
   color: beige;
   font-family:Verdana, cursive;
   word-spacing: 5px;
}

div, .logo, img{
    text-align:center;
}

section div{
    color: coral;
    font-size: 130%;
}
section, div, h2{
    color: aliceblue;
}

#parrafos h4{
     color:brown;
    text-align: center;
}

#parrafos p{
    color: aliceblue;
    text-align: right;  
}

h4{
    text-align:right;
}

h3{
    color: rgb(236, 106, 67);
}

h4{
    font-size: 30px;
}

section h4{
    font-size: 30px;
}

footer ul{
    display:inline-block;
    color:rgb(209, 0, 0); 
    opacity: 0.8;
}

/* comienza style de gym-center ...*/
#principal-gym, h1{
    color:rgb(221, 227, 230);    
}
#categorias{
    color:rgb(221, 227, 230);
}

form{
    color:rgb(221, 227, 230);
}
#form-running{
    color:rgb(221, 227, 230);  
}

#principal-running{
    color:rgb(221, 227, 230)
}

#redes p{
    color:#ff8000;
    font-family: "comic sans MS";   
}
#redes ul li{
    color:crimson;
    font-size: 150%;
}
#redes a{
    font-size: 160%;
    color:crimson
}

h2{
    color:rgba(221, 227, 230, 0.87); 
    font-family: sans-serif;
}

/* modificaciones del html nosotros - section */

#nosotros-parrafo{
    color:rgb(221, 227, 230);
    width:900px;
    height:80px;
    margin:2px;
}

.flex {
	border: solid 5px rgb(226, 128, 15);
	display: flex;
}
.center-j{
	justify-content:center;
}
    
#principal-index, h1{
    color: coral;
}

/* ejercicios por grupo muscular */
#espalda{
    color:aquamarine;
}

/*media querie*/

@media (max-width: 300px){
    .flex-container{
flex-direction:column;
flex-basis: 100%;
}

.flex-container .menu{
    flex-basis: 100%;
    flex-direction:column;
}

.flex-contaniner .menu-2{
    flex-direction:column;
    flex-basis: 100%;
}

}