body{
    background-color:black; 
     margin-left: 5px;
     margin-right: 5px; 
     padding-left: 5px;
     padding-right: 5px;
}

.grid {
	display: grid;
	grid-template-rows: auto 3fr 3fr auto;
	grid-template-columns: 25% 25% 25%;
	grid-template-areas: 
	"nav nav nav"
	"header header header"
    "section1 section2 section3"
    "footer footer footer";
  grid-column-gap: 10px;
  grid-row-gap: 10px;  
  }

 
 
  header {
     grid-area: header;
  }
  nav {
     grid-area: nav;
  }
  
  section#section1 {
     grid-area: productos;     
  }
  
  section#section3 {
     grid-area: servicios;     
  }
  
  footer {
     grid-area: footer;
  }
  
  /*Fin de GRID */

 


/*inicio Flexbox - barra de navegación */

.flex-container{
    display: inline-flex;
    text-decoration: none;
    background-color:black;  
    flex-basis: 100%;
    text-align: center;
    margin: 2px solid white;
    padding: 5px;
    position: absolute;
   
}
nav {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    background-color:black;
    width: 100%;
    position: fixed;
    text-align: center;
    
   
}
.menu1-2{
    text-align: center;
}

 .menu {
    display:inline-flex; 
    text-decoration: none; 
    text-align: center;
   
 }
 .menu-2, ul, li, a{
    display:inline-flex;
    text-align: center;
    text-decoration:none;
   color: beige;
   font-family:Verdana, cursive;
   margin-top: 6px;
}

.btn-ghost.secundary{
    background-color:#2d3047;
    margin: 2px 2px;
    padding: 3px 5px;
    color: var(--white);
    border: solid 2px white;
    opacity: 0.8;
    text-align: center;
}


section div{
    color: coral;
    font-size: 130%;
    text-align: center;
}

section, div, h2{
    color: aliceblue;
}

/*moficaciones del footer*/

.footer{
background-color:black; 
}
.navbar-brand {
    background-color:black;
}
 

#nombre-de-instagram{
    color: cornflowerblue;
}




/*html SERVICIOS - alinear IZQ texto hombre/ mujer del formulario*/

.hombre, .mujer{
    text-align: left;
    color: beige;
}

#parrafos h4{
     color:brown;
    text-align: center;
}

#parrafos p{
    color: aliceblue;
    text-align: right;  
}


section h4{
    font-size: 30px;
}

/* comienza style de gym-center ...*/

#principal-gym, h1{
    color:rgb(221, 227, 230); 
    padding: 10px;   
}
#categorias ul li{
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

#ejercicios{
    text-align: center;
}

form{
    color:rgb(221, 227, 230);
}
#form-running{
    color:rgb(221, 227, 230);  
}

#principal-running{
    color:rgb(221, 227, 230)
}

/*contacto html*/

#redes p{
    color:#ff8000;
    font-family: "comic sans MS";   
}
#redes ul li{
    color:crimson;
    font-size: 150%;
}
#redes a{
    font-size: 130%;
    color:crimson
}

/* modificaciones del html nosotros - section */

.principal-nosotros, ul, li{
    color:cornflowerblue;
    font-size: 100%;
    
}

/*index +  logo y titulo*/

.logo-y-titulo .logo, img {
    text-align:left;
}

.logo-rojo-y-blanco.jpg{
    text-align:left;
font-size: 50%;
}

h1 {
    text-align:left;
}

/*fuentes*/
#fuente-google1{
  font-family: 'Archivo Narrow', sans-serif;
}

#fuente-google2{
  font-family: 'Alfa Slab One';
  font-size: 350%;
  color: coral;
  text-align: center;
}

 
#principal-index{
    text-align:left;
    height: 20px;
}


#principal-index, .h2{
color:beige;
}
#principal-index, .h3{
    color: coral;
    opacity: 0.8;
}

/* ejercicios por grupo muscular */
#espalda{
    color:darkslategray;
    text-align: center;
}


.container-2{
    background-color: darkslategray;
    padding: 10px;
    display: inline-flex;
    margin: 2px solid white;
    text-align: center;
    
}
 
.item{
    margin: 2px solid white; 
    padding: 15px;
    color:white;
    display: inline-block;
}

#item1{
    background-color:dimgray;
    margin: 2px solid black;
}

#item2{
    background-color:rgb(52, 49, 49);
    margin: 2px solid black;
}

#item3{
    background-color:rgb(21, 19, 19);
    margin: 2px solid black;


/*media querie*/

@media (max-width: 300px){
    .flex-container{
flex-direction:column;
flex-basis: 100%;
}

.flex-container .menu{
    flex-basis: 100%;
    flex-direction:column;
}

.flex-contaniner .menu-2{
    flex-direction:column;
    flex-basis: 100%;
}