body{
    background-color:black; 
     margin: 5px;
    padding: 2px;
    /*box-sizing: border-box;*/
}

.grid {
	border: solid 1px white;
	display: grid;
	grid-template-rows: auto 3fr 3fr auto;
	grid-template-columns: 25% 25% 25%;
	grid-template-areas: 
	"nav nav nav"
	"header header header"
    "section1 section2 section3"
    "footer footer footer";
  grid-column-gap: 10px;
  grid-row-gap: 10px;  
  }
 
  .borde { 
      border: 2px solid aquamarine;    
  }
 
  header {
     grid-area: header;
  }
  nav {
     grid-area: nav;
  }
  
  section#section1 {
     grid-area: productos;     
  }
  
  section#section3 {
     grid-area: servicios;     
  }
  
  footer {
     grid-area: footer;
  }
  

  /*Fin de GRID / inicio Flexbox */


.flex-container{
    text-decoration: none;
    background-color:#2d3047;  
    flex-basis: 100%;
   
}
 .menu {
    display:inline-flex; 
    text-decoration: none; 
 }
 .menu-2, ul, li, a{
    display:inline-flex;
    text-decoration:none;
   color: beige;
   font-family:Verdana, cursive;
}

.btn-ghost.secundary{
    background-color:#2d3047;
    margin: 2px 2px;
    padding: 3px 5px;
    color: var(--white);
    border: solid 2px white;
    opacity: 0.8;
}

div, .logo, img{
    text-align:center;
}

section div{
    color: coral;
    font-size: 130%;
}
section, div, h2{
    color: aliceblue;
}

#parrafos h4{
     color:brown;
    text-align: center;
}

#parrafos p{
    color: aliceblue;
    text-align: right;  
}


section h4{
    font-size: 30px;
}

footer{
background-color: #2d3047; 
}

/* comienza style de gym-center ...*/
#principal-gym, h1{
    color:rgb(221, 227, 230);    
}
#categorias{
    color:rgb(221, 227, 230);
}

form{
    color:rgb(221, 227, 230);
}
#form-running{
    color:rgb(221, 227, 230);  
}

#principal-running{
    color:rgb(221, 227, 230)
}

#redes p{
    color:#ff8000;
    font-family: "comic sans MS";   
}
#redes ul li{
    color:crimson;
    font-size: 150%;
}
#redes a{
    font-size: 160%;
    color:crimson
}

/* modificaciones del html nosotros - section */

.principal-nosotros, ul, li{
    color:cornflowerblue;
    font-size: 110%;
    
}

/*index*/
#principal-index{
    text-align: center;
}

#principal-index, .h1{
    color: coral;
}
#principal-index, .h2{
color: dimgrey;
}
#principal-index, .h3{
    color: rgb(241, 167, 139);
}

/* ejercicios por grupo muscular */
#espalda{
    color:aquamarine;
}

/*media querie*/

@media (max-width: 300px){
    .flex-container{
flex-direction:column;
flex-basis: 100%;
}

.flex-container .menu{
    flex-basis: 100%;
    flex-direction:column;
}

.flex-contaniner .menu-2{
    flex-direction:column;
    flex-basis: 100%;
}

}